<a href="https://colab.research.google.com/github/vamsi2805/Assignment-12/blob/master/Assignment_12_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a program to create a tuple

In [2]:
t1 = (2,3,4,5,6,7)
print(t1, type(t1))

(2, 3, 4, 5, 6, 7) <class 'tuple'>

2.Write a program to create a tuple with different data types.

In [3]:
t1 = (0,1.5,"Vamsi",["Bye",1,6])
print(t1, type(t1))

(0, 1.5, 'Vamsi', ['Bye', 1, 6]) <class 'tuple'>

3.write a program to convert a tuple into a string.

In [4]:
t1 = ("V","A","M","S","I")
str = "".join(t1)
print("Tuple converted string:",str)

Tuple converted string: VAMSI

4.Writa a program to slice a tuple.

In [5]:
t1 = (1,2,3,4,5,6,7,8,9,10)
slice_tup = (t1[2:6])
print("Sliced tuple:",slice_tup)

Sliced tuple: (3, 4, 5, 6)

5.write a Program to find the length of a tuple.

In [6]:
t1 = (1,2,3,4,5,6,7,8,9,10)
count = 0
for item in t1:
  count+=1
print("Length of the tuple:",count)

Length of the tuple: 10

6.Write a program to convert a tuple into a dictionary.

In [8]:
t1 = (("one",1),("two",2),("three",3),("four",4))
converted_dict = dict(t1)
print("Converted Dictionary:",converted_dict)

Converted Dictionary: {'one': 1, 'two': 2, 'three': 3, 'four': 4}

7.Write a program to convert a list of tuples into a dictionary.

In [9]:
l1 = [("one",1),("two",2),("three",3),("four",4)]
dict_converted = dict(l1)
print("Dictionary converted list:",dict_converted)

Dictionary converted list: {'one': 1, 'two': 2, 'three': 3, 'four': 4}

8.Write a program to convert a list of tuples into a tuple.

In [10]:
list = ["vamsi","dinesh","raja"]
print("Tuple converted list:",tuple(list))

Tuple converted list: ('vamsi', 'dinesh', 'raja')